<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MineControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>          
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MineControl.Properties.Settings>
            <setting name="appGPUMinerName" serializeAs="String">
                <value />
            </setting>
            <setting name="appGPUMinerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="appCPUMinerName" serializeAs="String">
                <value />
            </setting>
            <setting name="appCPUMinerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="appHardwareMonitorName" serializeAs="String">
                <value />
            </setting>
            <setting name="appHardwareMonitorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="appGPUControllerName" serializeAs="String">
                <value />
            </setting>
            <setting name="appGPUControllerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="minerEnableAutomation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minerGPUMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minerCPUMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tempEnableAutomation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tempSpeedStep" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="tempPowerStepParam1" serializeAs="String">
                <value>-profile1</value>
            </setting>
            <setting name="tempPowerStepParam2" serializeAs="String">
                <value>-profile2</value>
            </setting>
            <setting name="tempPowerStepParam3" serializeAs="String">
                <value>-profile3</value>
            </setting>
            <setting name="tempPowerStepParam4" serializeAs="String">
                <value>-profile4</value>
            </setting>
            <setting name="tempPowerStepParam5" serializeAs="String">
                <value>-profile5</value>
            </setting>
            <setting name="tempStopWhenOverheatSecs" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tempStopWhenOverheatThresholdSecs" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tempMin" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="tempMax" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="tempPollingIntervalMillisecs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="controlStartupMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlStartupRememberAutomation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="controlRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tempSpeedStepBuffer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="controlMinimizeToSysTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tempTryStepUpSecs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="tempTryStepUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="generalSysTrayDisplayMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chartMinTempOnYAxisEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chartMinTempOnYAxisValue" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="scheduleSerializedSchedules" serializeAs="String">
                <value />
            </setting>
            <setting name="minerGPUSchedule" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="minerCPUSchedule" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="minerGPUUserActivityShutoff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minerCPUUserActivityShutoff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tempStopWhenTempUnknown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tempStopWhenOverheat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minerUserActivityTimeoutMins" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="minerGPUShowLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minerCPUShowLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="archivesArchiveConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="archivesArchiveInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="archivesArchiveIntervalUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="archivesLogManagement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="archivesLogManagementType" serializeAs="String">
                <value />
            </setting>
            <setting name="archivesLogManagementValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="archivesLogManagementUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="archivesArchiveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="archivesDeleteOldFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="archivesDeleteOldFilesDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="metricsSerializedMetrics" serializeAs="String">
                <value />
            </setting>
            <setting name="metricsSerializedMetricQueryOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="archivesClearOldCharts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="archivesClearOldChartsValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="archivesClearOldChartsUnit" serializeAs="String">
                <value>Days</value>
            </setting>
        </MineControl.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
